<div class="container">
    <div class="py-5">
        <div class="d-flex flex-row justify-content-between w-100 mb-4">
            <div class="p-1 align-self-center">
                <img src="../../../assets/img/em-full-green.svg" width="80%">
            </div>
            <div class="p-1 align-self-center">
                <div class="d-flex flex-row justify-content-between w-100 gap-3">
                    <p class="p-0 m-0 align-self-center">{{fullName}}</p>
                    <p id="btnGroupDrop" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true" class="p-0 m-0 align-self-center dropdown-toggle">
                        <img src="../../../assets/img/user.svg" width="40px">
                    </p>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop" data-popper-placement="bottom-end">
                        <a class="dropdown-item" href="javascript:;" (click)="onClickSignOut()">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row w-100 mb-4">
            <div class="p-1 flex-grow-1">
                <label class="col-form-label">Cari Sesuatu</label>
                <input class="form-control" type="text" placeholder="Ketik disini" (keyup)="onKeyUpSearch()" [(ngModel)]="employeeRequest.searchText">
            </div>
            <div class="p-1">
                <label class="col-form-label">Urutkan Nama</label>
                <select class="form-control" (change)="onChangeSort()" [(ngModel)]="employeeRequest.sortByName">
                    <option value="0">Ascending</option>
                    <option value="1">Descending</option>
                </select>
            </div>
            <div class="p-1">
                <label class="col-form-label">Jumlah Data</label>
                <select class="form-control" (change)="onChangePerPage()" [(ngModel)]="employeeRequest.perPage">
                    <option value="10">10 Data/Page</option>
                    <option value="20">20 Data/Page</option>
                    <option value="30">30 Data/Page</option>
                    <option value="40">40 Data/Page</option>
                    <option value="50">50 Data/Page</option>
                    <option value="60">60 Data/Page</option>
                    <option value="70">70 Data/Page</option>
                    <option value="80">80 Data/Page</option>
                    <option value="90">90 Data/Page</option>
                    <option value="100">100 Data/Page</option>
                </select>
            </div>
            <div class="p-1 align-self-end">
                <button class="btn btn-md btn-primary" (click)="onClickAddNew()">Add new</button>
            </div>
        </div>
        <ng-container *ngIf="employeeEmpty && !employeeLoading">
            <div class="m-1 p-1 empty-list">
                <p class="text-center text-muted empty-list-message">
                    {{employeeEmptyMessage}}
                </p>
                <p class="text-center">
                    <button class="btn btn-sm btn-primary" (click)="onClickRefreshList()">Refresh</button>
                </p>
            </div>
        </ng-container>
        <ng-container *ngFor="let employee of employees; let i = index">
            <div class="d-flex flex-row w-100 content my-3 bg-white">
                <div class="p-1 ps-3 align-self-center">
                    <h3 class="m-0 p-0"><b>{{((i+1) + ((employeeRequest.perPage * employeeRequest.page) -
                            employeeRequest.perPage))}}.</b></h3>
                </div>
                <div class="p-1 flex-grow-1 align-self-center">
                    <div class="item">
                        <h3 class="p-0 m-0">{{employee.firstName}} {{employee.lastName}}</h3>
                        <p class="p-0 m-0">{{employee.email}}</p>
                    </div>
                </div>
                <div class="p-1 detail align-self-stretch" (click)="onClickDetail(i)">
                    <p>Detail</p>
                </div>
                <div class="p-1 edit align-self-stretch" (click)="onClickEdit(i)">
                    <p>Ubah</p>
                </div>
                <div
                    nz-popconfirm
                    nzPopconfirmTitle="Hapus?"
                    (nzOnConfirm)="onConfirmDelete(i)"
                    nzOkText="Ya"
                    nzCancelText="Tidak"
                    nzPopconfirmPlacement="leftTop" 
                    class="p-1 delete align-self-stretch">
                    <p>Hapus</p>
                </div>
            </div>
        </ng-container>
        <div class="d-flex justify-content-center" *ngIf="!employeeEmpty && !employeeLoading">
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled': employeeRequest.page === 1}">
                    <a class="page-link" href="javascript:;" tabindex="-1" (click)="previousPaginationBatchDetail()"
                        [attr.aria-disabled]="employeeRequest.page === 1? 'true' : 'false'">
                        Previous
                    </a>
                </li>
                <ng-container *ngFor="let pageNumber of batchDetailMaxPageArray; let i = index">
                    <li [ngClass]="{'active': employeeRequest.page === (i + 1)}" class="page-item">
                        <a class="page-link" href="javascript:;" (click)="goToPaginationBatchDetail((i + 1))">{{(i +
                            1)}}</a>
                    </li>
                </ng-container>
                <li class="page-item" [ngClass]="{'disabled': employeeRequest.page === batchDetailMaxPage}">
                    <a class="page-link" href="javascript:;" (click)="nextPaginationBatchDetail()"
                        [attr.aria-disabled]="employeeRequest.page === batchDetailMaxPage? 'true' : 'false'">
                        Next
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>