.content{
    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.50);
    border-radius: 10px;
}

.item{
    padding: 10px 5px;
}
.detail{
    background: #043A36;
    cursor: pointer;   
}
.detail p{
    padding: 0 10px;
    margin: 0;
    color: #FFFFFF;
    font-weight: 600 !important;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.edit{
    background: #FFBC00;
    cursor: pointer;
}
.edit p{
    padding: 0 10px;
    margin: 0;
    font-weight: 600 !important;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.delete{
    background: #F64650;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
.delete p{
    padding: 0 10px;
    margin: 0;
    color: #FFFFFF;
    font-weight: 600 !important;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}