<div class="container">
    <div class="py-5">
        <div class="card">
            <div class="card-body">
                <h2 *ngIf="pathName == VIEW_PATH">View Employee</h2>
                <h2 *ngIf="pathName == EDIT_PATH">Edit Employee</h2>
                <h2 *ngIf="pathName != EDIT_PATH && pathName != VIEW_PATH">Add Employee</h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Nama Pertama <span class="text-danger">*</span></label>
                            <input *ngIf="pathName != VIEW_PATH" #required class="form-control" type="text"
                                placeholder="Masukan Nama Pertama" [(ngModel)]="firstName">
                            <p *ngIf="pathName == VIEW_PATH"><b>{{firstName}}</b></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Nama Akhir <span class="text-danger">*</span></label>
                            <input *ngIf="pathName != VIEW_PATH" #required class="form-control" type="text"
                                placeholder="Masukan Nama Akhir" [(ngModel)]="lastName">
                            <p *ngIf="pathName == VIEW_PATH"><b>{{lastName}}</b></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Username <span class="text-danger">*</span></label>
                            <input *ngIf="pathName != VIEW_PATH && pathName != EDIT_PATH" #required class="form-control"
                                type="text" placeholder="Masukan Username" [(ngModel)]="username">
                            <input *ngIf="pathName == EDIT_PATH" readonly #required class="form-control" type="text"
                                placeholder="Masukan Username" [(ngModel)]="username">
                            <p *ngIf="pathName == VIEW_PATH"><b>{{username}}</b></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">E-mail <span class="text-danger">*</span></label>
                            <input *ngIf="pathName != VIEW_PATH" #required class="form-control" type="text"
                                placeholder="Masukan E-mail" [(ngModel)]="email" (change)="validateEmail()">
                            <p *ngIf="pathName == VIEW_PATH"><b>{{email}}</b></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Tanggal Lahir <span class="text-danger">*</span></label>
                            <ng-container *ngIf="pathName != VIEW_PATH">
                                <input [owlDateTime]="date1" [owlDateTimeTrigger]="date1" #required class="form-control"
                                    placeholder="klik disini untuk memilih tanggal" [max]="todayDate"
                                    [(ngModel)]="birthDate">
                                <owl-date-time #date1 [pickerType]="'calendar'"></owl-date-time>
                            </ng-container>
                            <p *ngIf="pathName == VIEW_PATH"><b>{{birthDateString}}</b></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Group <span class="text-danger">*</span></label>
                            <select2 *ngIf="pathName != VIEW_PATH" [data]="dataGroup" [value]="groupID"
                                [(ngModel)]="groupID" [displaySearchStatus]="'always'"
                                class="form-control form-control-sm p-0"></select2>
                            <p *ngIf="pathName == VIEW_PATH"><b>{{groupName}}</b></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Basic Salary <span class="text-danger">*</span></label>
                            <input *ngIf="pathName != VIEW_PATH" #required class="form-control" type="text"
                                placeholder="Masukan Basic Salary" [(ngModel)]="basicSalary"
                                (keyup)="formatCurrency($event)">
                            <p *ngIf="pathName == VIEW_PATH"><b>{{basicSalary! | rupiah}}</b></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label">Deskripsi <span class="text-danger">*</span></label>
                            <textarea *ngIf="pathName != VIEW_PATH" #required class="form-control" type="text"
                                placeholder="Masukan Deskripsi" [(ngModel)]="description"></textarea>
                            <p *ngIf="pathName == VIEW_PATH"><b>{{description}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row flex-row-reverse gap-2 py-3">
                    <div class="p-0">
                        <button class="btn btn-md btn-primary" (click)="onClickSave()"
                            *ngIf="pathName != VIEW_PATH">Save</button>
                    </div>
                    <div class="p-0">
                        <button class="btn btn-md {{(pathName == VIEW_PATH)? 'btn-primary' : 'btn-danger'}}"
                            (click)="onClickCancel()">{{(pathName == VIEW_PATH)? 'Ok' : 'Cancel'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>