
@import "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
:root {
    --font-size-title: 14px;
    --font-size-normal: 13px;
    --font-size-sub: 12px;
    
    --font-size-title-portrait: 13px;
    --font-size-normal-portrait: 12px;
    --font-size-sub-portrait: 11px;

    --font-size-h1: 18px;
    --font-size-h2: 17px;
    --font-size-h3: 16px;
    --font-size-h4: 15px;
    --font-size-h5: 14px;

    --font-size-h1-portrait: 17px;
    --font-size-h2-portrait: 16px;
    --font-size-h3-portrait: 15px;
    --font-size-h4-portrait: 14px;
    --font-size-h5-portrait: 13px;

    --primary-nsi-color : #012926;
    --form-nsi-color : #efeeee;
 }

body{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #fff;
}

h1{
    font-size: var(--font-size-h1) !important;
    color: #000;
}
h2{
    font-size: var(--font-size-h2) !important;
    color: #000;
}
h3{
    font-size: var(--font-size-h3) !important;
    color: #000;
}
h4{
    font-size: var(--font-size-h4) !important;
    color: #000;
}
h5{
    font-size: var(--font-size-h5) !important;
    color: #000;
}


@media (max-width: 880px) {
    h1{
        font-size: var(--font-size-h1-portrait) !important;
    }
    h2{
        font-size: var(--font-size-h2-portrait) !important;
    }
    h3{
        font-size: var(--font-size-h3-portrait) !important;
    }
    h4{
        font-size: var(--font-size-h4-portrait) !important;
    }
    h5{
        font-size: var(--font-size-h5-portrait) !important;
    }
}
body h1,h2,h3,h4,h4, p, a, span, label{
    color: #000;
}
 
p, span, label, input, select, textarea{
    font-weight:400 !important;
    font-size: var(--font-size-normal) !important;
}
button{
    font-weight:500 !important;
    font-size: var(--font-size-normal) !important;
}
@media (max-width: 880px) {
    p, span, label, input, textarea, button{
       font-weight:400;
       font-size: var(--font-size-normal-portrait) !important;
    }
 }

.invert-img{
  filter: invert(100%);
}

/* Ovr NZ Custom */
.ant-message .anticon{
    top: -3px !important;
}
.ant-btn-sm{
    padding: 0 20px !important;
}
.ant-btn{
    border-radius: 3px;
    border-radius: 20px;
}
    .ant-btn:hover{
        border-radius: 3px;
        border-color: var(--primary-nsi-color) !important;
        outline: none !important;
        border-radius: 20px;
    }
    .ant-btn:focus,
    .ant-btn:active{
      border-color: var(--primary-nsi-color) !important;
      outline: none !important;
    }
.ant-btn-primary{
    background: var(--primary-nsi-color);
    border-color: var(--primary-nsi-color) !important;
    border-radius: 3px;
    border-radius: 20px;
}
    .ant-btn-primary span{
        color:  #fff !important;
    }

    .ant-btn-primary:hover{
        background: var(--primary-nsi-color) !important;
        border-radius: 20px;
    }

    .ant-btn-primary:focus,
    .ant-btn-primary:active{
      border-color: var(--primary-nsi-color) !important;
      outline: none !important;
    }
/* End Ovr NZ Custom */

/* Pagination */
  /* Next Prev Page  */
  .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
    border-radius: 5px !important;
    background: transparent;
    border: none;
  }
  .ant-pagination-prev .ant-pagination-item-link:hover, .ant-pagination-next .ant-pagination-item-link:hover{
    border-color: #ccc !important;
  }
  .ant-pagination-prev .ant-pagination-item-link:hover .anticon , .ant-pagination-next .ant-pagination-item-link:hover .anticon {
    color: #000 !important;
  }

  .ant-pagination-prev .ant-pagination-item-link .anticon , .ant-pagination-next .ant-pagination-item-link .anticon {
    vertical-align: 0 !important;
  }

  /* End Next Prev Page  */

  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon{
    color: #17302d !important;
  }

  /* Main Page Number */
  .ant-pagination, .ant-pagination ol, .ant-pagination ul{
    display: flex !important;
    gap: 3px;
  }
  .ant-pagination-item{
    border-radius: 5px !important;
    background: transparent;
    border: none;
    /* min-width: 40px !important; */
  }

  .ant-pagination-item:hover{
    border-color: #4e7f79 !important;
    background: #4e7f79 !important;
  }
  .ant-pagination-item:hover a{
    color: #fff !important;
  }

  .ant-pagination-item-active{
    border-color: #17302d !important;
    background: #17302d !important;
  }
    .ant-pagination-item-active:hover{
        border-color: #17302d !important;
        background: #17302d !important;
    }

  .ant-pagination-item-active a{
    color: #fff !important;
  }

  .ant-pagination-item a{
    text-decoration: none !important;
    color: #000;
    padding: auto 10px;
    font-size: 11px;
    font-weight: 600;
  }

  @media (max-width: 500px) {
    .ant-pagination-item a{
       font-size: 10px;
       font-size: 10px;
    }
  }

  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon svg{
    margin-top: -10px;
  }

  /* End Main Page Number */
/* End Pagination */


.ant-modal-confirm-body>.anticon{
  margin: 0;
  padding: 0 10px 0 0;
  margin-top: 2px;
}
.ant-modal-confirm-body>.anticon+.ant-modal-confirm-title+.ant-modal-confirm-content{
  margin: 0;
  padding: 0 10px 0 0;
}

.ant-message-info .anticon, .ant-message-loading .anticon{
  color: var(--primary-nsi-color) !important;
}


/* Sekeleton */
.ant-skeleton-button {
  width: 100% !important;
}

.ant-skeleton-card-200 > .ant-skeleton-button {
  height: 200px;
}
/* END Sekeleton */