/* ::ng-deep body {
    background-color: #043A36 !important;
    background: url('../../../assets/img/login-background.png') center center fixed !important;
    background-repeat: no-repeat;
    background-size: cover;
} */

.sdk-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
}

.form-control{
    background: #02302C;
    border: 1px solid #012B27;
    color: #fff;
    padding: 10px;
}
.form-control:active,
.form-control:focus{
    box-shadow: none;
}
.form-control::placeholder{
    color: #ccc;
}

.btn-signin {
    background: #FFBC00;
    color: #000;
    border: none;
    padding: 10px;
    font-weight: 500 !important;
}

.btn-signin:focus,
.btn-signin:active {
    background: #FFBC00;
    color: #000;
    border: none;
}

.btn-signin-proccess {
    background: #f6d16c;
    color: #e9e9e9;
    border: none;
    padding: 10px;
    font-weight: 500 !important;
}

.btn-signin-proccess:focus,
.btn-signin-proccess:active {
    background: #f6d16c;
    color: #e9e9e9;
    border: none;
}