<div class="sdk-content">
    <h2 class="text-white text-center py-3">Welcome, <b>Employee Management</b></h2>
    <p class="text-center py-3">
        <img src="../../../assets/img/em-full-white.svg">
    </p>
    <h3 class="text-white py-2">Login</h3>
    <p class="text-white">
        Masuk dengan akun kamu agar dapat mengatur<br>
        data karyawan dengan baik dan selalu produktif
    </p>
    <div class="form-group">
        <label class="col-form-label text-white">Username</label>
        <input #required class="form-control" type="text" placeholder="Masukan username" [(ngModel)]="username" (keyup.enter)="enterKeyUp()">
    </div>
    <div class="form-group">
        <label class="col-form-label text-white">Password</label>
        <input #required class="form-control" type="password" placeholder="Masukan password" [(ngModel)]="password" (keyup.enter)="enterKeyUp()">
    </div>
    <div class="d-grid gap-2 py-3">
        <button class="btn btn-signin" type="button" (click)="onClickLogin()" *ngIf="!isLoading">Masuk</button>
        <button class="btn btn-signin-proccess" type="button" *ngIf="isLoading">Proses Autentikasi...</button>
    </div>
</div>
